<div class="row">
    <div class="col-sm-12 col-md-3">
        <msky-lang-switcher
                [currentLang]="uiLang|async" (changeCurrentHandler)="onChangeUiLang($event)">
        </msky-lang-switcher>

        <msky-app-menu [isAuthenticated]="(isAuthenticated|async)"></msky-app-menu>

        <div *ngIf="!(isAuthenticated|async)">
            <msky-score-block></msky-score-block>
        </div>

    </div>
    <div class="col-sm-12 col-md-9">

        <router-outlet></router-outlet>
    </div>
</div>



