/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets/compiled

# Frontend

# dependencies
/frontend/node_modules

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/*
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontendtestem.log
/frontend/typings

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map


