<nav class="app-menu">
    <ul class="app-menu-nav">
        <li class="app-menu-nav__item">
            <a routerLink="/login" routerLinkActive="app-menu-nav__item_active">
                <i class="fa fa-sign-in"></i> login
            </a>
        </li>
        <li class="app-menu-nav__item">
            <a routerLink="/logout" routerLinkActive="app-menu-nav__item_active">
                <i class="fa fa-power-off"></i>
                logout</a>
        </li>
        <li class="app-menu-nav__item"><a routerLink="/start-test" routerLinkActive="app-menu-nav__item_active">Start</a></li>

        <li class="app-menu-nav__item"><a routerLink="/start-test" routerLinkActive="app-menu-nav__item_active">Settings</a></li>
    </ul>
</nav>
