<div class="form-block">
    <form action="#" method="post" role="form">

        <div class="form-group">
            <label>
                <msky-translate lang="en">Your name</msky-translate>
                <msky-translate lang="ru">Ваше имя</msky-translate>
            </label>
            <input type="text" required name="name" class="form-control">
        </div>

        <div class="form-block__button">
            <button type="submit" class="btn btn-primary ">
                <msky-translate lang="en">Log in</msky-translate>
                <msky-translate lang="ru">Войти</msky-translate>
            </button>
        </div>
    </form>
</div>