<div class="form-block">
    <form action="#" method="post" role="form">

        <div class="form-group">
            <label>
                <msky-translate lang="en">Your name</msky-translate>
                <msky-translate lang="ru">Ваше имя</msky-translate>
            </label>
            <input type="text" required name="name" class="form-control">
        </div>


        <button type="submit" class="btn btn-primary">
            <msky-translate lang="en">Login</msky-translate>
            <msky-translate lang="ru">Войти</msky-translate>
        </button>
    </form>
</div>