@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/normalize";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/grid";

body {
  header {
    margin-bottom: 40px;
  }
}
header{
  border-bottom: 1px solid #EEE;
  background: #F8F8F8;
  padding: 20px 0 0;
}

.navbar {
  display: flex;
  align-items: baseline;
  &__logo {
    width: 300px;
    display: flex;
    align-items: flex-start;
  }
  &__moto {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
    width: 100px;
  }

  &__menu_top {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
  }
}

.menu {
  list-style: none;
  &__item {
    list-style: none;
    a {
      padding: 5px 10px;
      color: #888;
    }
    &_active {
      a {
        background: #aacd4e;
        color: #FFF;
        border-radius: 5px;
      }
    }
  }
}

.msky-progress {
  position: relative;
  &__loading {
    text-align: center;
    color: #FFF;
    font-size: 10px;
    position: absolute;
    width: 100%;
    text-shadow: 0.5px 0.3px 0.5px #555;
  }
}